*{
    margin: 0%;
    padding: 0%;
}

#loginForm{
    height: 100%;
    background-color: blue;
}

.root{
    width: 100%;
    height: 100%;
    background-color: aqua;
    /* display: none; */

}
